In [1]:
from photo_utils import *
import pandas as pd

In [2]:
mount_dir = '/mnt/s'
storage_dir = '/home/rmccune/depth_mapping/CB03_all_photos/orig_images'

In [3]:
flood_record = pd.read_csv('/home/rmccune/depth_mapping/CB_03_flood_record/abbr_flood_events.csv')

In [4]:
flood_record.head()

,flood_event,sensor_ID,start_time_UTC,end_time_UTC,start_time_EST,end_time_EST,duration_(hours),max_road_water_level_(ft),max_road_water_level_(m),outage
0,1,CB_03,2022-06-15 01:29:35+00:00,2022-06-15 02:47:35+00:00,2022-06-14 20:29:35-05:00,2022-06-14 21:47:35-05:00,1.300,0.033,0.010,NaN
1,2,CB_03,2022-06-16 01:15:25+00:00,2022-06-16 04:00:25+00:00,2022-06-15 20:15:25-05:00,2022-06-15 23:00:25-05:00,2.750,0.374,0.114,NaN
2,3,CB_03,2022-06-17 02:31:12+00:00,2022-06-17 04:09:40+00:00,2022-06-16 21:31:12-05:00,2022-06-16 23:09:40-05:00,1.641,0.263,0.080,NaN
3,4,CB_03,2022-06-18 03:29:47+00:00,2022-06-18 05:16:06+00:00,2022-06-17 22:29:47-05:00,2022-06-18 00:16:06-05:00,1.772,0.421,0.128,NaN
4,5,CB_03,2022-06-19 04:00:46+00:00,2022-06-19 06:34:46+00:00,2022-06-18 23:00:46-05:00,2022-06-19 01:34:46-05:00,2.567,0.503,0.153,NaN

In [5]:
flood_record['start_time_UTC'] = pd.to_datetime(flood_record['start_time_UTC'])
flood_record['end_time_UTC'] = pd.to_datetime(flood_record['end_time_UTC'])

flood_record['camera_ID'] = 'CAM_' + flood_record['sensor_ID']

In [6]:
flood_record.head()

,flood_event,sensor_ID,start_time_UTC,end_time_UTC,start_time_EST,end_time_EST,duration_(hours),max_road_water_level_(ft),max_road_water_level_(m),outage,camera_ID
0,1,CB_03,2022-06-15 01:29:35+00:00,2022-06-15 02:47:35+00:00,2022-06-14 20:29:35-05:00,2022-06-14 21:47:35-05:00,1.300,0.033,0.010,NaN,CAM_CB_03
1,2,CB_03,2022-06-16 01:15:25+00:00,2022-06-16 04:00:25+00:00,2022-06-15 20:15:25-05:00,2022-06-15 23:00:25-05:00,2.750,0.374,0.114,NaN,CAM_CB_03
2,3,CB_03,2022-06-17 02:31:12+00:00,2022-06-17 04:09:40+00:00,2022-06-16 21:31:12-05:00,2022-06-16 23:09:40-05:00,1.641,0.263,0.080,NaN,CAM_CB_03
3,4,CB_03,2022-06-18 03:29:47+00:00,2022-06-18 05:16:06+00:00,2022-06-17 22:29:47-05:00,2022-06-18 00:16:06-05:00,1.772,0.421,0.128,NaN,CAM_CB_03
4,5,CB_03,2022-06-19 04:00:46+00:00,2022-06-19 06:34:46+00:00,2022-06-18 23:00:46-05:00,2022-06-19 01:34:46-05:00,2.567,0.503,0.153,NaN,CAM_CB_03

In [7]:
pull_files(flood_record, mount_dir, storage_dir)

Processing rows: 100%|██████████| 55/55 [02:51<00:00,  3.12s/it]
Copying files: 100%|██████████| 1441/1441 [1:39:30<00:00,  4.14s/it]